#!/bin/bash
set -u -e
BORG=/usr/local/bin/borg
export BORG_REPO={{ borg_repo }}
export BORG_PASSPHRASE='{{ borg_pass }}'
export BORG_REMOTE_PATH=borg1
export BORG_RSH='ssh -i /root/.ssh/borg -oBatchMode=yes'

systemctl stop mayak_nav_bot

$BORG create --compression zstd,5 ::'Mayak_{now:%Y-%m-%d_%H%M}' \
  /opt/src/mayak_nav/config/photo \
  /opt/src/mayak_nav/config/raybot.sqlite

$BORG prune --prefix 'Mayak_' --keep-daily=7 --keep-weekly=2 --keep-monthly=3

systemctl start mayak_nav_bot
