[Unit]
Description=SotM Intro Bot
After=syslog.target

[Service]
Type=simple
Restart=always
User=zverik
Group=zverik
WorkingDirectory=/opt/src/sotm_intro_bot
ExecStart=/opt/src/sotm_intro_bot/venv/bin/python sotm_intro_bot.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
