import os

DATABASE = os.path.join(os.path.dirname(__file__), 'wi_users.sqlite')
BOT_TOKEN = '{{ watch_integratsioon_token }}'
POLLING_INTERVAL = 30
MUNICIPALITY = 'Tallinn'
ADMIN_ID = {{ sotm_intro_admin_id }}
