[Unit]
Description=Watch Integratsioon Telegram Bot
After=syslog.target

[Service]
Type=simple
Restart=always
User=zverik
Group=zverik
WorkingDirectory=/opt/src/watch_integratsioon
ExecStart=/opt/src/watch_integratsioon/venv/bin/python watch_integratsioon.py
Environment=PYTHONUNBUFFERED=1
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
