BASE_URL = 'https://geoscribble.osmz.ru'

PG_HOST = '/var/run/postgresql'
PG_USER = 'zverik'
PG_DATABASE = 'geoscribble'

EMAIL = 'geoscribble@zverev.info'
OAUTH_ID = '{{ geoscribble_auth_id }}'
OAUTH_SECRET = '{{ geoscribble_auth_secret }}'
