[Unit]
Description=Mark Spam Telegram Bot
After=syslog.target

[Service]
Type=simple
Restart=always
User=zverik
Group=zverik
WorkingDirectory=/opt/src/mark_spam_bot
ExecStart=/opt/src/mark_spam_bot/venv/bin/python markbot.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
