[Unit]
Description=Geoscribble
After=syslog.target

[Service]
Type=simple
Restart=on-failure
User=zverik
Group=zverik
WorkingDirectory=/opt/src/geoscribble
ExecStart=/opt/src/geoscribble/.venv/bin/gunicorn --workers 2 --worker-class proxy_worker.ProxyUvicornWorker --bind 0.0.0.0:3007 --proxy-protocol --forwarded-allow-ips '*' web.main:app
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/geoscribble.log
StandardError=append:/var/log/geoscribble.log

[Install]
WantedBy=multi-user.target
