#!/bin/bash
set -u -e

DBDUMP=/var/tmp/hitrye.pgc
pg_dump -U phpbb --format=c --file=$DBDUMP hitrye

/root/make_backup Hitrye \
  $DBDUMP \
  /var/www/hitrye/files \
  /var/www/hitrye/images/avatars/upload

rm $DBDUMP
