[Unit]
Description=Mayak Nav Telegram Bot
After=syslog.target

[Service]
Type=simple
Restart=always
User=zverik
Group=zverik
WorkingDirectory=/opt/src/mayak_nav
ExecStart=/opt/src/mayak_nav/venv/bin/python -m raybot
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
